__pycache__/
*.pyc
uploaded_files/
mindee_env/

# Exclude all image and PDF files
*.png
*.pdf
*.jpeg

# Explicitly include files in the samples directory
!samples/
!samples/*.png
!samples/*.pdf
!samples/*.jpeg